[Unit]
Description=Linux Brightness Sync Service
After=network.target

[Service]
Restart=always
RestartSec=5
ExecStart=/bin/bash /etc/brightSync/bright.sh &

[Install]
# WantedBy=multi-user.target
# use this if you want to start on boot
WantedBy=default.target